.git
.gitignore
.idea
.vscode
.cursor
__pycache__
**/__pycache__
*.py[cod]
.venv
venv
env
.env
secrets
*.md
logs
outputs
catboost_info
lightning_logs
checkpoints
emb_fit/checkpoints
**/*.npy
**/*.pt
**/*.pkl
**/*.ckpt
**/*.zip
**/*.rar
**/*.parquet
**/*.xlsx
**/*.png
*.ps1
TODO
.mypy_cache
emb_fit/gnn
emb_fit/pca
emb_fit/s2vec
emb_fit/satclip
emb_fit/tab_pfn

emb_fit/models/satclip/*
!emb_fit/models/satclip/satclip
